<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbc.cloud.xbcsystem.dao.UserDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xbc.cloud.xbcsystem.entity.User" id="UserMap">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="UserMap">
         SELECT ID,NAME
         FROM USER
    </select>

</mapper>